@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0;
    height: 100vh;
    background-color: #1B1F20;
}

a {
    text-decoration: none;
    position: relative;
}

#underConstruction {
    background-color: burlywood;
    height: 40px;
    padding: 10px 0 10px 0;
}

#underConstruction h3{
    text-align: center;
    color: black;
    margin: 0;
}

/* NAV BAR */

.navBar {
    font-size: 0.9em;
    letter-spacing: 1.5px;
    height: 7vh;
    width: 370px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    justify-items: center;
}

.navBar a:after {
    content: "";
    position: absolute;
    top: 20PX;
    left: 2%;
    background-color: #F6BB25;
    height: 1px;
    width: 0%;
}

.navBar a:hover:after {
    transition: 0.3s 0.1s ease-out all;
    width: 60%;
}

.navBar a:nth-child(1)::after {
    width: 92%;
}

/* NAV BAR - END */

header {
    display: grid;
    width: 87%;
    height: 86vh;
    margin: auto;
    grid-template-columns: 60% 40%;
}

/* LEFT SECTION */

.leftSide {
    width: 90%;
    margin: auto;
    display: grid;
    row-gap: 20px;
}

.nameSection p {
    font-size: 1.0em;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0;
}

.nameSection h1 {
    font-size: 4.7em;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 0;
}

#para {
    margin: 0;
    font-size: 0.8em;
    font-weight: 100;
    width: 80%;
    letter-spacing: 1.5px;
    line-height: 18px;
}

.aboutTop {
    margin: 0;
    width: 52%;
    display: grid;
    grid-row: 4;
    grid-template-columns: 1fr 2fr;

}

/* ANIMATED BTN */

button {
    font-family: "Space Mono", monospace;
    padding-bottom: 5px;
    letter-spacing: 1px;
    background: none;
    color: white;
    position: relative;
    outline: none;
    border: none;
    height: 40px;
    width: 170px;
    font-size: 14px;
    z-index: 2;
    transition: 0.01s 0.23s ease-out all;
    overflow: hidden;
    border: 1px solid #F6BB25;
  }
  button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: #F6BB25;
    z-index: -1;
    transition: 0.3s ease-in all;
  }
  button:after {
    content: "";
    position: absolute;
    left: -5%;
    top: 5%;
    height: 90%;
    width: 5%;
    background: white;
    z-index: -1;
    transition: 0.4s 0.02s ease-in all;
  }
  button:hover {
    cursor: pointer;
  }
  button:hover:before {
    width: 100%;
  }
  button:hover:after {
    left: 100%;
    width: 70%;
  }

  .icon-right:after {
    font-family: "FontAwesome";
    content: "→";
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 9px;
  }

  /* .icon-right {
    position: absolute;
    right: 17px;
  } */
 

  @keyframes changewidth {
    from {
        left: 9px;
    }
    10% {
        left: 18px;  
    }
    25% {
        left: 7px;
    }
    35% {
        left: 9px;
    }
    to {
        left: 9px;
    }
  }

  .icon-right:after {
    animation-duration: 3s;
    animation-name: changewidth;
    animation-iteration-count: infinite; 
    animation-direction: normal;
  }
  
  /* button:after { */
    /* animation: move 6s infinite forwards; */
    /* animation-duration: 6s;
    animation-name: changewidth;
    animation-iteration-count: infinite; 
    animation-direction: normal;
} */

/* ANIMATED BTN - END */

/* SOCIAL ICONS */

.socialIcons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
}

.socialIcons div img {
    filter: invert(84%) sepia(100%) saturate(0%) hue-rotate(357deg) brightness(112%) contrast(101%);
}

.socialIcons div:nth-child(1) {
    width: 17px;
}

.socialIcons div:nth-child(2) {
    width: 18px;
}

.socialIcons div:nth-child(3) {
    width: 13px;
}

.socialIcons div{
    position: relative;
    width: 25px;
    height: 20px;
}

.socialIcons div a {
    position:absolute;
    width: 100%;
    top: 0;
}

.socialIcons div:hover a {
    cursor: pointer;
    top: -1px;
    transition: 0.2s;
}

.socialIcons div a:hover img {
    filter: invert(74%) sepia(86%) saturate(509%) hue-rotate(340deg) brightness(101%) contrast(93%);
}

/* .socialIcons div::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 2px;
    background-color: #050504;
    height: 2px;
    width: 70%;
} */

/* SOCIAL ICONS - END */

.aboutDown {
    margin: 0;
    width: 70%;
    display: grid;
    grid-row: 9;
    grid-template-columns: 1fr 1fr;
}

.aboutDown p {
    margin: 0;
    font-size: 0.87em;
    letter-spacing: 1.45px;
}

.aboutDown div p:nth-child(1) {
    font-weight: 400;
}

.aboutDown div p:nth-child(2) {
    margin-top: 3px;
    font-weight: 200;
}

.phone {
    border-left: 1px solid #FFFFFF;
    height: 33px;
    border-width: 2px;
    padding-left: 25px;
}

/* Right section */

.rightSide {
    margin: auto;
}

.rightSide img{
    width: 100%;
    position: relative;
    top: -30px;
    left: 30px;
}

.imgBorder {
    width: 90%;
    border: 3px solid white;
}

/* FOOter section */
footer {
    height: 7vh;
    display: grid;
    align-items: start;
    justify-items: center;
    margin: auto;
    font-size: 0.55em;
    font-weight: 100;
    letter-spacing: 2px;
}

footer div {
    border-top: 1px solid #FFFFFF;
    width: 560px;
    display: grid;
    justify-items: center;
}

footer p {
    margin: 14px 0 0 0;
}

footer p span {
    padding-right: 6px;
}

footer p span img{
    width: 7px;
    filter: invert(31%) sepia(92%) saturate(979%) hue-rotate(326deg) brightness(81%) contrast(88%);
}

@media screen and (max-width: 1426px){
    .nameSection h1 {
        font-size: 3.8em;
    }

    .leftSide {
        row-gap: 30px;
    }
    
    .aboutTop {
        grid-row: 3;
    }

    .aboutDown {
        grid-row: 5;
        width: 90%;
    }

    header {
        width: 92%;
    }
}